<h1>Lets see some video JSON data!</h1>
<p>Find me in app/views/facebook_test/show.html.erb</p>
<%= debug @rating %>
<%= debug @numRaters %>
<%= debug @views %>
<%= debug @version %>
<%= debug @title %>

<%= debug @keywords %>
<%= debug @keywordArray[0] %>
<%= debug @keywordArray[1] %>
<%= debug @keywordArray[@keywordArray.length-1] %>
<h3> ___________________</h3>
<h3> ___________________</h3>
<h3> ___________________</h3>
<h3> ___________________</h3>
<h3> ___________________</h3>
<%=  debug @loca %>
<h3> ___________________</h3>
