<!DOCTYPE html>
<html>
<head>
  <meta property='fb:app_id' content='287289548013361' />
  <title>Vidify</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
if (window.location.hash == '#_=_') {
    window.location.hash = ''; // for older browsers, leaves a # behind
    history.pushState('', document.title, window.location.pathname); // nice and clean
    e.preventDefault(); // no page reload
}
</script>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({
 appId  : '287289548013361',
 status : true, // check login status
 cookie : true, // enable cookies to allow the server to access the session
 xfbml  : true// parse XFBML
 });

 FB.Canvas.setAutoResize(7);

 </script>
<header>
  <%= link_to raw("<h1>Vidify</h1>"), root_url  %>
</header>
<section class='main'>
<script>
  $(function() {
    $(".navBtns" ).buttonset();
  });
  </script>

  <nav class='navBtns'>
    <%= link_to "Home", root_url %>
    <%= link_to "Friends", :action => "friendList", :controller => "user" %>
    <%= link_to "Groups", :controller => "groups" %>
  </nav>
</section>

<%= yield %>

</body>
</html>
